<div class="container" [@ListAnimation]="listAnim$ | async">
  <app-project-item *ngFor="let project of projects$ | async"
                    [item]="project"
                    class="card"
                    (invite)="launchInviteDialog(project)"
                    (edit)="launchUpdateDialog(project)"
                    (del)="launchConfirmDialog(project)" >
  </app-project-item>
</div>
<button class="fab-button" mat-fab  type="button" (click)="openNewProjectDialog()">
  <mat-icon svgIcon="plus"></mat-icon>
</button>
