<div class="container" [@ListAnimation]="projects.length">
  <app-project-item *ngFor="let project of projects"
                    [item]="project"
                    class="card"
                    (invite)="launchInviteDialog()"
                    (edit)="launchUpdateDialog()"
                    (del)="launchConfirmDialog(project)" >
  </app-project-item>
</div>
<button class="fab-button" mat-fab  type="button" (click)="openNewProjectDialog()">
  <mat-icon svgIcon="plus"></mat-icon>
</button>
